.fileChooser {
display:none;
margin:10px;
width: 250px; 
}
.datePicker {
    display:none;
    margin:10px;
    width: 250px; 
    }


.lb{ 
    color:#af1b76;
border:solid 1px #666F77;
margin:0px;
margin-right: 10px;
padding: 4px 32px;
background: #11131d;
border:solid 1px #666F77;
border-radius: 6px;
display:inline-block;
color: ivory;

position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-delay: ;
  animation-fill-mode: backwards;

}
@keyframes example {
  from {top: 0px; background-color: red;}
  to {top: ;}
}

.lb:active{
    background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
.lb:hover{
    cursor: pointer;
    background-color: #313541;
    color: #FFFFFF;
}




.sallaryDate{
    background-color: #ddd;
    outline: none;
    border-radius: 5px;
  }
  
  .sallaryDate::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sallaryDate::-webkit-inner-spin-button {
    height: 28px;
  }
  
  .sallaryDate::-webkit-calendar-picker-indicator {
    font-size: 15px;
  }


  /* animated chek mark */

  /* body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .checkmark {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  }
  
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }